@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  list-style-type: none;
}

body {
  height: 100%;
}


:root {
 --main: #1f2630;
 --laisin: #f8470a;

}

header {
 background-color: var(--main);
 height: 70px;
 position: sticky;
 top:0;
 z-index: 99;
}

.laisin-navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.laisin-brand img {
    height: 40px;
}



.laisin-menu {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}

.laisin-menu li {
  color:white;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
}


.laisin-menu li a {
   text-decoration: none;
   color: white;
}


.laisin-active::after {
    content: '';
    height: 2px;
    width: 100%;
    bottom: -8px;
    left:0;
    position: absolute;
    background-color: var(--laisin);
}

.laisin-menu li:last-child {
  display:flex;
  gap:10px;
  align-items:center;
}

.laisin-menu li a:hover {
  color: var(--laisin)
}

.hamburger {
 display: none;
}

.mobile-nav {
  background-color: var(--main);
  width: 300px;
  padding-top: 20px;
  min-height: 100vh;
  /* height: 100%; */
  transform : translateX(-100%);
  position: fixed;
  z-index: 99;
  top:70px;
  transition: 1s;
}

.slide {
  transform: translateX(0%);
}

.laisin-menu-mobile li a{
    color:white;
    font-size: 18px;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
}

.laisin-menu-mobile > li {
  margin: 15px 0;
}

.laisin-menu-mobile li a:hover {
   color: var(--laisin);
}

.close-mobile-nav {
   position: absolute;
   top: 5px;
   right: 5px;
}

.hide {
    display: none;
}

.laisin-hero {
   width: 100%;
   position: relative;
   overflow: hidden;
   height: 400px;
   z-index: 1;
}

.laisin-hero img {
  object-fit: cover;
  filter: brightness(40%);
  width: 100%;
  height: 100%;

}

.hero-text {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   position: absolute;
   justify-content: center;
   flex-direction: column;
   top: 0;
   color: white;
}

.hero-text h1 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

.hero-text p {
  width: 70%;
  font-size: 18px;
  text-align: center;
}

.hero-buttons {
   display: flex;
   gap:20px;
}

.hero-buttons .find-part{
  text-decoration: none;
  color: black;
  font-weight: 800;
  border-radius: 5px;
  padding: 10px 15px;
  transition: .8s;
  background-color: var(--laisin);
}

.hero-buttons .contact {
    text-decoration: none;
    color:white;
    font-weight: 800;
    padding: 10px 15px;
    transition: .8s;
    border-radius: 5px;
    color: var(--laisin);
    border : 1px solid var(--laisin)

}

.hero-buttons .contact:hover {
   background-color: var(--laisin);
   color: black;
   transform: scale(110%);
}

.hero-buttons .find-part:hover {
   color: var(--laisin);
   transform: scale(110%);
   border: 1px solid var(--laisin);
   background-color: transparent;
}



@media only screen and (max-width:600px) {
    .laisin-menu {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .laisin-brand img {
        height: 30px;
    }

    .hero-text h1 {
        font-size: 38px;
        text-align: center;
        font-weight: 700;
      }

      .hero-text p {
        width: 70%;
        font-size: 18px;
        text-align: center;
      }

}

