 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Inter', sans-serif;
     text-decoration: none;
     list-style-type: none;
 }
 
 body {
     height: 100%;
 }
 
 :root {
     --main: #1f2630;
     --secondary: #b3c2cf;
     --laisin: #f8470a;
 }
 
 header {
     background-color: var(--main);
     height: 70px;
     position: sticky;
     top: 0;
     z-index: 99;
 }
 
 .laisin-navbar {
     height: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 .laisin-brand img {
     height: 40px;
 }
 
 .laisin-menu {
     display: flex;
     gap: 20px;
     align-items: center;
     margin-top: 20px;
 }
 
 .laisin-menu li {
     color: white;
     position: relative;
     text-decoration: none;
     cursor: pointer;
     font-weight: 500;
 }
 
 .laisin-menu li a {
     text-decoration: none;
     color: white;
 }
 
 .laisin-active::after {
     content: '';
     height: 2px;
     width: 100%;
     bottom: -8px;
     left: 0;
     position: absolute;
     background-color: var(--laisin);
 }
 
 .laisin-menu li:last-child {
     display: flex;
     gap: 10px;
     align-items: center;
 }
 
 .laisin-menu li a:hover {
     color: var(--laisin)
 }
 
 .hamburger {
     display: none;
 }
 
 .mobile-nav {
     background-color: var(--main);
     width: 300px;
     padding-top: 20px;
     min-height: 100vh;
     /* height: 100%; */
     transform: translateX(-100%);
     position: fixed;
     z-index: 99;
     top: 70px;
     transition: 1s;
 }
 
 .slide {
     transform: translateX(0%);
 }
 
 .laisin-menu-mobile li a {
     color: white;
     font-size: 18px;
     position: relative;
     text-decoration: none;
     cursor: pointer;
     font-weight: 500;
 }
 
 .laisin-menu-mobile>li {
     margin: 15px 0;
 }
 
 .laisin-menu-mobile li a:hover {
     color: var(--laisin);
 }
 
 .close-mobile-nav {
     position: absolute;
     top: 5px;
     right: 5px;
 }
 
 .hide {
     display: none;
 }
 
 .laisin-hero {
     width: 100%;
     position: relative;
     overflow: hidden;
     height: 400px;
     z-index: 1;
 }
 
 .laisin-hero img {
     object-fit: cover;
     filter: brightness(40%);
     width: 100%;
     height: 100%;
 }
 
 .hero-text {
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     position: absolute;
     justify-content: center;
     flex-direction: column;
     top: 0;
     color: white;
 }
 
 .hero-text h1 {
     font-size: 50px;
     font-weight: 700;
     text-align: center;
 }
 
 .hero-text p {
     width: 70%;
     font-size: 18px;
     text-align: center;
 }
 
 .hero-buttons {
     display: flex;
     gap: 20px;
 }
 
 .hero-buttons .find-part {
     text-decoration: none;
     color: black;
     font-weight: 800;
     border-radius: 5px;
     padding: 10px 15px;
     transition: .8s;
     background-color: var(--laisin);
 }
 
 .hero-buttons .contact {
     text-decoration: none;
     color: white;
     font-weight: 800;
     padding: 10px 15px;
     transition: .8s;
     border-radius: 5px;
     color: var(--laisin);
     border: 1px solid var(--laisin)
 }
 
 .hero-buttons .contact:hover {
     background-color: var(--laisin);
     color: black;
     transform: scale(110%);
 }
 
 .hero-buttons .find-part:hover {
     color: var(--laisin);
     transform: scale(110%);
     border: 1px solid var(--laisin);
     background-color: transparent;
 }
 
 .laisin-products {
     background-color: var(--main);
     padding: 40px 0px;
 }
 
 .products-text {
     display: flex;
     position: relative;
     justify-content: center;
 }
 
 .products-text h3 {
     text-align: center;
     margin-bottom: 20px;
     padding-bottom: 20px;
     position: relative;
     width: fit-content;
     border-bottom: 5px solid white;
 }
 
 .products-text h3::after {
     content: "";
     height: 5px;
     width: 5.5rem;
     bottom: -5px;
     left: 0;
     position: absolute;
     background-color: var(--laisin);
 }
 
 .product-card img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 
 .product-img {
     width: 100%;
     overflow: hidden;
     height: 50%;
 }
 
 .product-description {
     height: 50%;
     padding: 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 
 .descriptions {
     display: flex;
     justify-content: center;
     text-align: center;
 }
 
 .product-card {
     height: 400px;
     margin: 10px;
     border-radius: 50px;
     box-shadow: 0 10px 15px -3px rgb(248, 71, 10, 0.3), 0 4px 6px -4px rgb(248, 71, 10, 0.3);
     overflow: hidden;
     cursor: pointer;
     border-radius: 5px;
     background-color: #f5f5f5;
 }
 
 .product-card:hover .img-product {
     scale: 110%;
     transition: ease-in-out .7s;
 }
 
 .product-card:hover {
     scale: 105%;
     transition: ease-in-out .7s;
 }
 
 .description-details {
     display: flex;
     gap: 10px;
 }
 
 .description-title {
     font-weight: 700;
 }
 
 .detail {
     background-color: white;
     padding: 5px 15px;
     margin-top: 10px;
     color: #5f5f5f;
     display: flex;
     height: fit-content;
     border-radius: 5px;
     flex-direction: column;
     gap: 5px;
     align-items: center;
     font-size: 13px;
 }
 
 .product-lists {
     z-index: 99 !important;
 }
 
 .products-more {
     margin-top: 40px;
     display: flex;
     font-size: 25px;
     cursor: pointer;
     justify-content: flex-end;
     color: white;
 }
 
 .products-more a {
     text-decoration: none;
     color: white;
 }
 
 .products-more a:hover {
     color: white;
 }
 
 .products-more .button {
     display: flex;
     justify-content: center;
     padding: 10px 20px;
     transition: .6s;
     font-weight: 600;
     border-radius: 5px;
     font-size: 20px;
     position: relative;
 }
 
 .products-more .button::after {
     content: "";
     position: absolute;
     width: 0;
     height: 5px;
     bottom: 0;
     background-color: var(--laisin);
     transition: width 0.3s ease;
     /* Add a transition property for smooth animation */
 }
 
 .products-more:hover .button::after {
     width: 83%;
 }
 
 .laisin-aboutus {
     padding: 50px 10px;
 }
 
 .about-us-wrappers {
     margin: 0px 10px;
     align-items: center;
     display: flex;
 }
 
 .about-us-title {
     text-align: center;
     margin-bottom: 20px;
     padding-bottom: 20px;
     position: relative;
     display: flex;
     justify-content: center;
 }
 
 .about-us-title h3 {
     position: relative;
     font-weight: 600;
     padding-bottom: 15px;
     border-bottom: 5px solid var(--main);
 }
 
 .about-us-title h3::after {
     content: "";
     height: 5px;
     width: 50%;
     bottom: -5px;
     left: 0;
     position: absolute;
     background-color: var(--laisin);
 }
 
 .wrappers-left .img {
     overflow: hidden;
     width: 100%;
     margin-bottom: 20px;
 }
 
 .img img {
     user-select: none;
     pointer-events: none;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 
 .text-content p {
     font-size: 15px;
 }
 
 .text-content h4 {
     font-size: 21px;
 }
 
 .promotion-text {
     display: flex;
     flex-direction: column;
 }
 
 .content-promotion {
     display: flex;
     gap: 15px;
     align-items: center;
 }
 
 .content-promotion h5 {
     font-size: 16px;
 }
 
 .promotion-text p {
     font-size: 14px;
     opacity: 85%;
 }
 
 .promotion-text {
     display: flex;
     flex-direction: column;
     gap: -10px;
     margin-top: 15px;
 }
 
 .laisin-testimonials {
     background-color: var(--main);
     padding-top: 80px;
     padding-bottom: 120px;
 }
 
 .testi-card {
     background-color: white;
     display: flex;
     justify-content: center;
     position: relative;
     padding: 30px;
     cursor: pointer;
     margin: 20px 0px;
     border-radius: 10px;
 }
 
 .testi-card:hover {
     scale: 105%;
     transition: .8s;
 }
 
 .testi-wrappers {
     text-align: center;
 }
 
 .testi-wrappers .testi-img {
     width: 80px;
     height: 80px;
     display: flex;
     margin: 0 auto;
     justify-content: center;
     overflow: hidden;
     margin-bottom: 10px;
 }
 
 .testi-img img {
     width: 100%;
     border-radius: 50%;
     height: 100%;
     object-fit: cover;
 }
 
 .testi-description h5 {
     font-weight: 600;
 }
 
 .testimonials-title {
     display: flex;
     justify-content: center;
     text-align: center;
     margin-bottom: 20px;
 }
 
 .testimonials-title h3 {
     position: relative;
     font-weight: 600;
     display: flex;
     justify-content: center;
     padding-bottom: 20px;
     text-align: center;
     border-bottom: 5px solid white;
 }
 
 .testimonials-title h3::after {
     content: "";
     height: 5px;
     width: 50%;
     bottom: -5px;
     left: 0;
     position: absolute;
     background-color: var(--laisin);
 }
 
 .laisin-more_info {
     padding: 80px 0;
 }
 
 .need-more-text {
     text-align: start;
     position: relative;
     margin-bottom: 20px;
     border-bottom: 5px solid black;
 }
 
 .need-more-text::after {
     content: "";
     width: 65%;
     height: 5px;
     position: absolute;
     bottom: -5px;
     background-color: var(--laisin);
 }
 
 .need-more-text h1 {
     font-size: 35px;
 }
 
 .need-more-buttons {
     display: flex;
     flex-direction: column;
 }
 
 .text-buttons {
     display: flex;
     flex-direction: column;
     justify-content: center;
 }
 
 .contact-us-button {
     /* border: 1px solid var(--laisin); */
     background-color: var(--main);
     color: white;
     width: fit-content;
     margin: 10px 0px;
     font-size: 25px;
     font-weight: 600;
     padding: 10px 85px;
     transition: .6s;
     border-radius: 10px;
     text-decoration: none;
     list-style: none;
     display: flex;
     align-items: center;
     gap: 5px;
 }
 
 .find-parts-button {
     /* border: 1px solid var(--laisin); */
     background-color: var(--main);
     color: white;
     width: fit-content;
     margin: 10px 0px;
     font-size: 25px;
     font-weight: 600;
     padding: 10px 80px;
     transition: .6s;
     border-radius: 10px;
     text-decoration: none;
     list-style: none;
     display: flex;
     align-items: center;
     gap: 5px;
 }
 
 .contact-us-button:hover,
 .find-parts-button:hover {
     background-color: var(--laisin);
     color: white;
 }
 
 .right-wrappers-more-info {
     display: flex;
     height: 100%;
     margin-top: 20px;
     align-items: flex-start;
     justify-content: center;
 }
 
 footer {
     position: relative;
     overflow: hidden;
     background-color: var(--main);
     padding-top: 20px;
     padding-bottom: 10px;
 }
 
 .address {
     color: #b3c2cf;
 }
 
 .footer-brands img {
     height: 40px;
 }
 
 .menu-head {
     font-weight: bold;
     margin: 10px 0px;
 }
 
 .menu-1 :not(.menu-head),
 .menu-2 :not(.menu-head) {
     color: #b3c2cf;
     cursor: pointer;
     width: 100px;
 }
 
 .footer-menus {
     color: white;
     display: flex;
     gap: 50px;
     padding-bottom: 50px;
 }
 
 .company-name {
     color: var(--secondary);
     font-weight: 600;
 }
 
 .footer-bottom {
     background-color: #1f2630;
     /* width: 100%; */
     height: 100%;
     color: white;
     text-align: center;
     z-index: 2;
 }
 
 @media only screen and (max-width:600px) {
     .laisin-menu {
         display: none;
     }
     .hamburger {
         display: block;
     }
     .laisin-brand img {
         height: 30px;
     }
     .hero-text h1 {
         font-size: 38px;
         text-align: center;
         font-weight: 700;
     }
     .hero-text p {
         width: 70%;
         font-size: 18px;
         text-align: center;
     }
     .right-wrappers-more-info {
         display: flex;
         height: 100%;
         margin-top: 20px;
         align-items: center;
         justify-content: flex-start;
     }
     .footer-menus {
         color: white;
         display: flex;
         flex-direction: column;
         gap: 20px;
     }
     .footer-brands {
         margin: 28px;
     }
     .aboutus-laisin-img {
         display: none;
     }
 }