:root {
    --main: #1f2630;
    --secondary: #b3c2cf;
    --laisin: #f8470a;
}

.table {
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

tr {
    border: 1px solid #eee !important;
    padding: 10px;
}

.table>thead {
    background-color: var(--main);
}

.laisin-breadcrumb {
    margin-left: -49px;
    padding-top: 15px;
}

.laisin-breadcrumb ul {
    display: flex;
    gap: 5px;
}

.laisin-breadcrumb ul li a {
    text-decoration: none;
    color: #8e99a4;
}

.form-control:focus {
    border-color: #f8470a !important;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #f8470a !important;
}

.laisin-search {
    margin: 20px 0px;
    position: relative;
}

.laisin-search>input {
    padding-left: 30px;
}



.laisin-search>.icons {
    position: absolute;
    display: flex;
    height: 100%;
    left: 10px;
    align-items: center;
}

.laisin-products-page,
.laisin-categories-page,
.laisin-brands-page,
.laisin-products-show,
.laisin-years-page {
    padding-top: 10px;
    height: 100%;
    padding-bottom: 40px;
    background-color: #fafafa;
}

.table-title {
    color: #828486;
}

.options-category {
    width: fit-content;
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
    background-color: white;
    display: flex;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    font-weight: 600;
    position: relative;
    align-items: center;
    transition: width .5s ease;
    text-decoration: none;
    color: #1f2630;
}

a:hover {
    color: #1f2630;
}

.options-category:hover .wrappers-options-category::after {
    width: 90%;
    transition: width .5s ease
}

.wrappers-options-category::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--laisin);
    position: absolute;
    opacity: 30%;
    bottom: 5px;
}

.laisin-products-options {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.options-category .wrappers-options-category {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.laisin-categories-page {
    padding-top: 10px;
    background-color: #fafafa;
}

.laisin-show-product-menu {
   display: flex;
   gap: 10px;
   align-items: center;
   margin-top: 15px;
   background-color: #f4f4f4;
}

.menu-btn {
    padding: 10px 40px;
    font-weight: 500;
}

.menu-btn {
    cursor: pointer ;
    color: #1f2630;
}  

.menu-active {
    color: white;
    background-color: #1f2630;
    border-bottom: 3px solid var(--laisin);
}


.product-images {
    width: 100%; 
    overflow: hidden;
}

.product-images {
    height: 100%;
    width: 100%;
    object-fit: cover ;
}

.product-description {
    padding: 20px 0px;
}

.product-spesification {
    width: 100%;
}

.hidden {
    display: none;
}

@media only screen and (max-width:600px) {
    .laisin-products-options {
        display: flex;
        flex-direction: column;
    }
    .options-category {
        width: 100%;
    }
    .options-category:hover .wrappers-options-category::after {
        width: 0%;
        transition: width .5s ease
    }
    .wrappers-options-category::after {
        content: "";
        width: 0;
        height: 2px;
        background-color: var(--laisin);
        position: absolute;
        opacity: 30%;
        bottom: 5px;
    }
}